# Ignore everything not needed for container
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
ENV/
env/

# Git
.git/
.gitignore

# Local files
.DS_Store
Thumbs.db
*.log

# Build / packaging
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
