# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
ENV/
env/

# Logs & databases
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# Docker artifacts
*.pid
*.sock
*.tar
.docker/

# Python packaging
*.egg-info/
dist/
build/

# IDE / editor
.vscode/
.idea/
